{% extends "base.html" %}
{% block title %}Set Admin Credentials - SDTransfer Offloader{% endblock %}
{% block content %}
  <h2>Set Admin Credentials</h2>
  <div class="panel">
    <form method="post">
      <label for="username">Admin Username:</label>
      <input type="text" id="username" name="username" value="{{ current_username }}" required>
      
      <label for="password">Admin Password:</label>
      <input type="password" id="password" name="password" required>
      
      <input class="btn" type="submit" value="Save Credentials">
    </form>
  </div>
  <p>If this is your first time using the system, no login is required until you set these credentials. Once you save, future logins will require the username and password you entered.</p>
{% endblock %}
